# Pode-se usar esse arquivo como base de variáveis do .env
# Portanto, crie um novo arquivo .env junto a esse
PORT = 3000

POSTGRES_HOST=localhost
POSTGRES_USER=postgres
POSTGRES_PASSWORD=SUA_SENHA_PG_AQUI
POSTGRES_DB=NOME_BD_AQUI
POSTGRES_PORT=5432

JWT_SECRET=CHAVE_SECRETA_AQUI
DEFAULT_EXPIRES_IN_SECONDS=1200