body {
    display: flex;
    flex-direction: column; /* Coloca um item embaixo do outro */
    margin: 0;
    background-color: #FFF8EF; /* Cor de fundo do seu Figma */
}

.img-erro {
    width: 500px;
    display: flex;
    flex-direction: column; /* Coloca um item embaixo do outro */
    align-items: center;    /* Centraliza todos na horizontal */
    margin: 0;  
}

div {
    display: flex;
    flex-direction: column; /* Coloca os textos e o botão um embaixo do outro */
    align-items: center;    /* Centraliza tudo o que está dentro da div horizontalmente */
    width: 100%;            /* Garante que a div use o espaço todo da tela */
}

.texto1 {
    margin-top: 0;
    font-family: 'Roboto', sans-serif;
    color: #09264A
}

.texto2 {
    margin-top: 0;
    padding-top: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    color: #09264A
}

.botao {
    margin: 1%;
    padding: 10px 40px; /* Aumenta a área interna */
    font-size: 18px;    /* Aumenta a letra para acompanhar o botão */
    border: none;
    border-radius: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.1s ease;
    background-color: #F9B420
}

.botao:active {
  /* Diminui a sombra para parecer que encostou no fundo */
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  
  /* Empurra o botão 2px para baixo */
  transform: translateY(1px);
  
  /* Escurece levemente o amarelo original */
  background-color: #febd2f; 
}


 /* Tela de módulos */

 .cabecalho {
    background-color: #002147; /* O azul escuro do seu print */
    display: flex;
    justify-content: space-between; /* Empurra os itens para as extremidades */
    padding: 10px 40px;            /* Espaçamento interno */
    color: white;
    font-family: sans-serif;
}

.logo, .info-usuario{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.logo{
    align-items: flex-start;
      display: flex;
    flex: 1;
    align-items: center;
  gap: 0.3125rem;
}

.info-usuario{
   align-items: flex-end;
   text-align: end;
}

.texto-usuario {
    display: flex;
    flex-direction: column; /* Nome em cima, email embaixo */
    text-align: right;      /* Alinha o texto à direita */
    align-items: end;
}

.foto-perfil {
    width: 50px;
    height: 50px;
}

.nome { font-weight: bold; font-size: 18px; }
.email { font-size: 14px; opacity: 0.8; }

.logo img {
    height: 60px; /* Ajuste a altura para caber no header */
    width: auto;  /* Mantém a proporção */
}

.foto-perfil {
    width: 50px;
    height: 50px;
}
